{
    "printWidth": 80,
    "tabWidth": 2,
    "trailingComma": "all",
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "importOrder": [
        "^@core/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^[./]"
    ],
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ]
}